# macOS
.DS_Store
*.DS_Store
__MACOSX/

# Maven
target/
*.jar
*.war
*.ear

# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Logs
logs/
*.log

# Other
# Ignore credenciais e artefactos
.env
