<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head (pageTitle)">
    <meta charset="UTF-8" />
    <title th:if="${pageTitle}" th:text="${pageTitle}">Soccernow</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body th:fragment="content">
    <nav th:fragment="navbar" style="background:#333; color:white; padding:10px;">
      <a th:href="@{/}" style="color:white; margin-right:15px;">Inicio</a>
      <a th:href="@{/web/users}" style="color:white; margin-right:15px;">Usuarios</a>
      <a th:href="@{/web/players}" style="color:white; margin-right:15px;">Jugadores</a>
      <a th:href="@{/web/teams}" style="color:white; margin-right:15px;">Equipos</a>
      <a th:href="@{/web/jogos}" style="color:white; margin-right:15px;">Juegos</a>
      <a th:href="@{/web/campeonatos}" style="color:white; margin-right:15px;">Campeonatos</a>
    </nav>
    <div style="padding:20px;" th:insert="~{::section}"></div>
  </body>
</html>
